---
import Layout from "../layouts/Layout.astro";
import { Image, Picture } from "@astrojs/image/components";
import ImageLabel from "../components/ImageLabel.astro";
import styles from "../styles.module.css";

import nasaImg from "../assets/nasa.jpg";
---

<Layout title="Layout Fill Astro Image Example.">
	<div class={styles.container}>
		<div class={styles.card}>
			<h1 class={styles.heading}>Layout Fill Example</h1>
			<p>
				For when you require an image to fit a fixed container. Each image has a wrapper sized @
				300px width x 500px height.
			</p>
			<p>Each example shows the differences between object-fit properties.</p>
			<p>
				Note: Image found in <code class={styles.inlineCode}>/assets/nasa.jpg</code> and sourced via
				Nasa @
				<a
					href="https://unsplash.com/photos/yZygONrUBe8"
					target="_blank"
					rel="noopener noreferrer nofollow"
					class={styles.inlineLink}>unsplash.com</a
				>.
			</p>
		</div>
		<br />
		<br />
		<br />
		<ImageLabel text="<Image> | cover" />
		<div class="img-wrapper">
			<Image
				alt="The space station above the Earth"
				src={nasaImg}
				style={{ width: "100%", height: "100%", objectFit: "cover" }}
			/>
		</div>
		<br />
		<br />
		<ImageLabel text="<Image> | contain" />
		<div class="img-wrapper">
			<Image
				alt="The space station above the Earth"
				src={nasaImg}
				style={{ width: "100%", height: "100%", objectFit: "contain" }}
			/>
		</div>
		<br />
		<br />
		<ImageLabel text="<Image> | none" />
		<div class="img-wrapper">
			<Image
				alt="The space station above the Earth"
				src={nasaImg}
				style={{ width: "100%", height: "100%", objectFit: "none" }}
			/>
		</div>
		<hr class={styles.hr} />
		<ImageLabel text="<Picture> | cover" />
		<div class="img-wrapper">
			<Picture
				alt="The space station above the Earth"
				src={nasaImg}
				sizes="100vw"
				widths={[600, 800]}
				style={{
					width: "100%",
					height: "100%",
					objectFit: "cover",
				}}
			/>
		</div>
		<br />
		<br />
		<ImageLabel text="<Picture> | contain" />
		<div class="img-wrapper">
			<Picture
				alt="The space station above the Earth"
				src={nasaImg}
				sizes="100vw"
				widths={[600, 800]}
				style={{
					width: "100%",
					height: "100%",
					objectFit: "contain",
				}}
			/>
		</div>
		<br />
		<br />
		<ImageLabel text="<Picture> | none" />
		<div class="img-wrapper">
			<Picture
				alt="The space station above the Earth"
				src={nasaImg}
				sizes="100vw"
				widths={[600, 800]}
				style={{
					width: "100%",
					height: "100%",
					objectFit: "none",
				}}
			/>
		</div>
	</div>
</Layout>

<style>
	.img-wrapper {
		width: 300px;
		height: 500px;
		border: 1px dashed white;
		background-color: rgb(88 28 135 / 0.1);
	}
</style>
